
/** Header component **/
.section-title {
	font-size: bold;
	font-size: 1.5em;
}

.jumbotron {
  /*background-color: #58347A;*/
  background-color: #f8f9fa;
}

.jumbotron h3 {
  position: relative;
  top: 1rem;
	line-height: 0;
	color: rgba(0,0,0,.9);
}
/*** Header component **/