
/** Header component **/
.section-title {
	font-size: bold;
	font-size: 1.5em;
}

.jumbotron {
	/*background-image: url('../../../images/staff-management-banner.jpg');*/
	height: 3em;
}

.jumbotron h3 {
	line-height: 0;
}

/*** Header component **/